<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget app</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  
  <%- include('header.html', totalIncome, totalExpense) %>
  
  <div class="bottom">
    <div class="add__container">
      
      <form class="add" action="/" method="POST"> 
        <select class="add__type" name="select">
          <option value="inc" selected>+</option>
          <option value="exp">-</option>
        </select>
        <input name="purpose" type="text" class="add__description" placeholder="Add description" required>
        <input name="cost" type="number" class="add__value"  placeholder="Value" required>
        <button type="submit" class="add__btn"><i class="fas fa-check"></i></button>
        
      </form>
      
      <div class="container">
        <%- include('income.html', income) %>
        <%- include('expense.html', expense, totalIncome) %>
      </div>
    </div>
  </div>
  
  
  
</body>
</html>
